name: Run clang-format Linter
concurrency:
  group: build-iso
  cancel-in-progress: true

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: DoozyX/clang-format-lint-action@v0.16.2
        with:
          source: '.'
          exclude: './src/DataGenerator.cpp'
          extensions: 'h,cpp'
          clangFormatVersion: 16
          inplace: True
          style: chromium
      - uses: EndBug/add-and-commit@v9
        with:
          author_name: Clang Robot
          author_email: robot@example.com
          message: 'Committing clang-format changes'
          add: 'include/*.cpp'
        env:
          GITHUB_TOKEN: ${{ secrets.token }}